Repository mayadata-io/d-operators, pull requests merged in 2020-06, with the labels that each got.

#66 chore(unittests): add tests for eligibility logic
  Makefile
  pkg/job/eligible_test.go
  pkg/job/fixture.go
  types/job/job.go
Labels: unit-test

#68 feat(job): update failfast schema
  Makefile
  pkg/job/fixture.go
  pkg/job/fixture_test.go
  pkg/job/job.go
  pkg/job/job_test.go
  pkg/job/noop.go
  test/experiments/assert-deprecated-daemonset.yaml
  types/job/task.go
Labels: api, failfast, job, recipe, unit-test

#69 [fix]:Added statefulset yaml to deploy dope
  deploy/operator.yaml
Labels: deploy, documentation
