Repository mayadata-io/d-operators, pull requests merged in 2020-08, with the labels that each got.

#120 feat(recipe): garbage collect the lock when its recipe is deleted
  cmd/main.go
  common/controller/reconciler.go
  common/unstruct/unstruct.go
  config/metac.yaml
  controller/recipe/finalizer.go
  controller/recipe/reconciler.go
  go.mod
  go.sum
  manifests/crd.yaml
  pkg/recipe/eligible.go
  pkg/recipe/lock.go
  pkg/recipe/noop_test.go
  pkg/recipe/recipe.go
  pkg/recipe/recipe_test.go
  pkg/recipe/state_check.go
  pkg/recipe/task.go
  test/e2e/BEST_PRACTICES.md
  test/e2e/ci.yaml
  test/e2e/inference.yaml
  test/e2e/suite.sh
  test/experiments/assert-lock-persists-for-recipe-that-runs-once.yaml
  test/experiments/assert-recipe-lock-garbage-collection.yaml
  test/experiments/assert-recipe-teardown.yaml
  test/experiments/create-assert-fifty-configmaps-in-time.yaml
  types/recipe/labels.go
  types/recipe/recipe.go
  types/recipe/task.go
Labels: build, e2e, enhancement, recipe, testing

#122 feat(recipe): add resync interval api fields
  controller/recipe/reconciler.go
  pkg/recipe/recipe.go
  types/recipe/recipe.go
Labels: api, recipe, resync

#132 chore(validation): add schema validation for field paths
  README.md
  common/schema/validation.go
  common/schema/validation_test.go
  go.sum
Labels: validation

#133 chore(readme): fix indentation
  README.md
Labels: chore, readme

#137 feat(validation): add schema validation to recipe
  common/unstruct/unstruct.go
  common/unstruct/unstruct_test.go
  controller/recipe/reconciler.go
  manifests/crd.yaml
  pkg/recipe/recipe.go
  pkg/recipe/recipe_test.go
  pkg/schema/validation.go
  pkg/schema/validation_test.go
  test/e2e/ci.yaml
  test/e2e/inference.yaml
  test/experiments/assert-github-search-invalid-method-neg.yaml
  test/experiments/assert-github-search-neg.yaml
  test/experiments/assert-github-search.yaml
  test/experiments/assert-recipe-invalid-schema.yaml
  test/experiments/assert-recipe-lock-is-garbage-collected.yaml
  test/experiments/create-assert-fifty-configmaps-in-time.yaml
  types/recipe/recipe.go
  types/recipe/schema.go
  types/recipe/task.go
Labels: enhancement, recipe, validation, yaml

#138 chore(refactor): d-operators deployment yamls
  README.md
  deploy/crd.yaml
  deploy/namespace.yaml
  deploy/operator.yaml
  deploy/rbac.yaml
  manifests/namespace.yaml
Labels: deploy
