Repository mayadata-io/d-operators, pull requests merged in 2020-11, with the labels that each got.

#176 feat(get): add code to get resource
  pkg/recipe/get.go
  types/recipe/get.go
Labels: enhancement, recipe

#177 feat(recipe): add label selector to list resources
  pkg/recipe/list.go
Labels: list, recipe

#181 feat(recipe): add labeling as an operation
  .github/workflows/test-release.yaml
  pkg/recipe/labeling.go
  types/recipe/label.go
Labels: label, recipe

#182 fix(recipe): update labeling operation with fixes
  pkg/recipe/labeling.go
  types/recipe/label.go
Labels: label, recipe

#183 fix(recipe): include ignoreDiscovery as a valid Recipe schema
  types/recipe/apply.go
  types/recipe/create.go
  types/recipe/schema.go
Labels: recipe, schema
