Repository mayadata-io/d-operators, pull requests merged in 2020-07, with the labels that each got.

#96 feat(command): initial code for Command controller
  Makefile
  README.md
  cmd/commander/main.go
  controller/command/reconciler.go
  go.mod
  go.sum
  pkg/command/command.go
  pkg/command/daemonjob_builder.go
  pkg/command/job_builder.go
  pkg/command/runcmd.go
  types/command/command.go
  types/git/git.go
Labels: command

#97 feat(recipe): #78 - rename job to recipe
  cmd/main.go
  controller/recipe/reconciler.go
  manifests/crd.yaml
  pkg/recipe/apply.go
  pkg/recipe/assert.go
  pkg/recipe/base.go
  pkg/recipe/common.go
  pkg/recipe/create.go
  pkg/recipe/eligible.go
  pkg/recipe/eligible_test.go
  pkg/recipe/errors.go
  pkg/recipe/fixture.go
  pkg/recipe/fixture_test.go
  pkg/recipe/lock.go
  pkg/recipe/noop.go
  pkg/recipe/path_check.go
  pkg/recipe/recipe.go
  pkg/recipe/recipe_test.go
  pkg/recipe/retry.go
  pkg/recipe/state_check.go
  pkg/recipe/task.go
  pkg/recipe/util.go
  test/experiments/assert-deprecated-daemonset.yaml
  test/experiments/assert-job-teardown.yaml
  test/experiments/assert-lock-persists-for-job-that-runs-once.yaml
  test/experiments/create-assert-fifty-configmaps-elapsedtime.yaml
  test/experiments/create-assert-fifty-configmaps.yaml
  test/experiments/crud-ops-on-pod.yaml
  test/experiments/inference.yaml
  test/pkg/setup/controlplane/constants.go
  types/gvk/gvk.go
  types/recipe/apply.go
  types/recipe/assert.go
  types/recipe/create.go
  types/recipe/delete.go
  types/recipe/patch_check.go
  types/recipe/recipe.go
  types/recipe/state_check.go
  types/recipe/task.go
Labels: breaking change, chore, feature flag, job, recipe

#100 fix(recipe): fix issues due to job to recipe change
  .github/workflows/release-docker.yaml
  .github/workflows/test-release.yaml
  .gitignore
  Dockerfile
  Makefile
  README.md
  config/metac.yaml
  controller/http/reconciler.go
  deploy/operator.yaml
  go.mod
  go.sum
  manifests/crd.yaml
  pkg/http/http.go
  pkg/recipe/eligible.go
  test/e2e/namespace.yaml
  test/e2e/registries.yaml
  test/e2e/suite.sh
  test/experiments/assert-job-teardown.yaml
  test/experiments/assert-lock-persists-for-job-that-runs-once.yaml
  test/experiments/create-assert-fifty-configmaps-elapsedtime.yaml
  test/experiments/inference.yaml
  types/gvk/gvk.go
  types/http/types.go
  types/recipe/task.go
Labels: bug, build, e2e, gh actions, make

#102 chore(cleanup): remove deprecated integration test code
  go.mod
  go.sum
  mage.go
  test/bin/.gitkeep
  test/manifests/namespace.yaml
  test/pkg/common/common.go
  test/pkg/common/setup_loader.go
  test/pkg/controlplane/addr/manager.go
  test/pkg/controlplane/apiserver.go
  test/pkg/controlplane/command.go
  test/pkg/controlplane/controlplane.go
  test/pkg/controlplane/doc.go
  test/pkg/controlplane/etcd.go
  test/pkg/controlplane/internal/apiserver.go
  test/pkg/controlplane/internal/arguments.go
  test/pkg/controlplane/internal/bin_path_finder.go
  test/pkg/controlplane/internal/etcd.go
  test/pkg/controlplane/internal/process.go
  test/pkg/controlplane/internal/tinyca.go
  test/pkg/controlplane/kubectl.go
  test/pkg/setup/controlplane/constants.go
  test/pkg/setup/controlplane/loader.go
  test/pkg/setup/controlplane/runner.go
  test/pkg/setup/run.go
  test/pkg/types/types.go
  test/setup/controlplane/setup.yaml
  test/suite.go
Labels: chore, e2e, testing

#103 chore(e2e): re-arrange e2e related artifacts
  README.md
  test/e2e/ci.yaml
  test/e2e/inference.yaml
  test/e2e/namespace.yaml
  test/e2e/suite.sh
Labels: build, ci cd, e2e, recipe

#107 feat(http): add http as a custom resource
  .gitignore
  Makefile
  config/metac.yaml
  controller/http/reconciler.go
  controller/recipe/reconciler.go
  manifests/crd.yaml
  pkg/http/http.go
  pkg/recipe/recipe.go
  pkg/recipe/recipe_test.go
  pkg/recipe/state_check.go
  test/e2e/ci.yaml
  test/e2e/inference.yaml
  test/e2e/suite.sh
  test/experiments/assert-deprecated-daemonset.yaml
  test/experiments/assert-github-search-invalid-method-negative.yaml
  test/experiments/assert-github-search-invalid-method.yaml
  test/experiments/assert-github-search-neg.yaml
  test/experiments/assert-github-search.yaml
  test/experiments/assert-job-teardown.yaml
  test/experiments/assert-lock-persists-for-job-that-runs-once.yaml
  test/experiments/create-assert-fifty-configmaps-elapsedtime.yaml
  test/experiments/create-assert-fifty-configmaps.yaml
  test/experiments/crud-ops-on-pod.yaml
  types/http/types.go
  types/recipe/state_check.go
Labels: bug, build, ci cd, e2e, http, make, recipe

#108 fix(gvk): update group from metacontroller.io to mayadata.io
  config/metac.yaml
  controller/recipe/reconciler.go
  manifests/crd.yaml
  test/e2e/ci.yaml
  test/e2e/inference.yaml
  test/e2e/suite.sh
  test/experiments/assert-deprecated-daemonset.yaml
  test/experiments/assert-github-search-invalid-method-negative.yaml
  test/experiments/assert-github-search-invalid-method.yaml
  test/experiments/assert-github-search-neg.yaml
  test/experiments/assert-github-search.yaml
  test/experiments/assert-job-teardown.yaml
  test/experiments/assert-lock-persists-for-job-that-runs-once.yaml
  test/experiments/create-assert-fifty-configmaps-elapsedtime.yaml
  test/experiments/create-assert-fifty-configmaps.yaml
  test/experiments/crud-ops-on-pod.yaml
  types/gvk/gvk.go
Labels: api, build, documentation, gvk
