Repository mayadata-io/d-operators, pull requests merged in 2020-10, with the labels that each got.

#146 feat(command): add command cr that creates a k8s job
  cmd/commander/main.go
  controller/command/reconciler.go
  controller/command/reconciler_test.go
  go.mod
  pkg/command/command.go
  pkg/command/daemonjob_builder.go
  pkg/command/job_builder.go
  pkg/command/job_builder_test.go
  pkg/command/reconciler.go
  pkg/command/reconciler_test.go
  pkg/command/run_command.go
  pkg/command/run_command_test.go
  pkg/command/shell_command.go
  pkg/command/shell_command_test.go
  pkg/kubernetes/retry.go
  pkg/kubernetes/utility.go
  pkg/kubernetes/utility_test.go
  pkg/lock/lock.go
  test/e2e/BEST_PRACTICES.md
  types/command/command.go
Labels: command

#160 feat(daction): rename commander to daction
  .github/workflows/release-docker.yaml
  .gitignore
  tools/command-api/Makefile
  tools/command-api/go.mod
  tools/command-api/go.sum
  tools/command-api/types/command.go
  tools/command-api/types/command_test.go
  tools/commander/Dockerfile
  tools/commander/go.mod
  tools/commander/go.sum
  tools/commander/pkg/command.go
  tools/commander/pkg/command_test.go
  tools/commander/pkg/pointer.go
  tools/d-action/Dockerfile
  tools/d-action/Makefile
  tools/d-action/go.mod
  tools/d-action/go.sum
  tools/d-action/main.go
  tools/d-action/pkg/action/run_command.go
  tools/d-action/pkg/action/run_command_test.go
  tools/d-action/pkg/action/shell_command.go
  tools/d-action/pkg/action/shell_command_test.go
  tools/d-action/pkg/util/json.go
  tools/d-action/pkg/util/list.go
  tools/d-action/pkg/util/pointer.go
  tools/d-action/pkg/util/unstruct.go
  tools/recipe-api/Makefile
  tools/recipe-api/go.mod
  tools/recipe-api/types/apply.go
  tools/recipe-api/types/assert.go
  tools/recipe-api/types/create.go
  tools/recipe-api/types/labels.go
  tools/recipe-api/types/patch_check.go
  tools/recipe-api/types/recipe.go
  tools/recipe-api/types/schema.go
  tools/recipe-api/types/state_check.go
  tools/recipe-api/types/task.go
  types/command/command.go
Labels: command

#161 fix(recipe): fix code to execute recipe via function calls
  pkg/recipe/recipe.go
Labels: recipe

#162 feat(build): push docker image to hub for d-action
  .github/workflows/release-docker.yaml
Labels: build, daction

#163 feat(build): change repo name for dockerhub
  .github/workflows/release-docker.yaml
Labels: action, build, daction

#164 feat(recipe): include fixture as part of recipe initialization
  pkg/recipe/recipe.go
Labels: recipe

#165 feat(recipe): add pretty print to recipe structure
  types/recipe/recipe.go
Labels: recipe

#166 fix(recipe): add spec.enabled.when as a supported recipe schema
  types/recipe/schema.go
Labels: bug, recipe, schema

#167 fix(build): add latest tag during docker push
  .github/workflows/release-docker.yaml
  Makefile
  tools/d-action/Makefile
Labels: build, daction, docker, gh actions

#170 fix(build): add latest image push yaml
  .github/workflows/latest-image-push.yaml
  .github/workflows/test-release.yaml
Labels: build
